<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" allowInsecureConnections="true" />
    <add key="nuget.uniban" value="http://nuget.uniban.ca/nuget" allowInsecureConnections="true" />	
  </packageSources>   
</configuration> 