<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="C:\Logs\CustomerCenterAPI\CustomerCenterAPI-%utcdate{yyyy-MM-dd}.xml" />
    <appendToFile value= "true" />
    <rollingStyle value="size"/>
    <maximumFileSize value ="50MB"/>
    <maxSizeRollBackups value ="10"/>
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
  </appender>

  <root>
    <level value="Warn"/>
    <appender-ref ref="LogFileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</log4net>